# ENV files
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
env/
venv/

# Logs
*.log

# Redis
dump.rdb

# DB backups
*.sql
*.dump

# Django
db.sqlite3

# Node / React
node_modules/
dist/
build/
.cache/
.vscode/

# OS/System
.DS_Store
.idea/
